@import '../variables';
$gap: 1rem;

@mixin carditem {

	/*
	grid-column-end: span 1;
	grid-row-end: span 1;

	// border-bottom: 1px solid currentColor;
	// border-right: $border;
	// padding: 0 1rem 3rem;
	margin-bottom: 3rem;

	min-height: 8em;
	*/

	&.portrait {
		// grid-row-end: span 2;
	}
	&.landscape {
		// grid-column-end: span 1;
	}

	/*
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4), {
		a {
			border-top: none;
			padding-top: 0;
			margin-top: 0;
		}
	}
	&:nth-child(4n) {
		// border-right: none;
	}
	*/

}

main .list-wrapper {
	padding: 0 $space-side*0.5;
}

@mixin grid {
	display: grid;
	grid-auto-flow: row;

	grid-template-columns: 1fr 1fr;
	gap: $gap;
	// margin: 0 $space-side;
	// padding: 0;


	@media only screen and (min-width: 700px) {
		grid-template-columns: 1fr 1fr 1fr;
		gap: $space-side;
	}
	@media only screen and (min-width: 1000px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	@media only screen and (min-width: 1400px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	@media only screen and (min-width: 1800px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	// align-items: start;

	> li {
		@include carditem;

		// width: 25%;

		// margin-bottom: 1rem;
		// background-color: #fff;

		// display: flex;
		// padding: 0 $space-side*0.5 2rem $space-side*0.5;
		> a {
			// flex: 1;
			// display: flex;
			// flex-direction: column;
			// border-top: $border;
			// padding-top: 1rem;
			// margin-top: 1rem;
		}

		figure {
			background-color: #000;
			img, iframe {
				transition: opacity 600ms ease;
			}
		}

		> a:hover {
			figure {
				img, iframe {
					opacity: 1;
				}
			}
		}

		figure + .info {
			margin-top: 0.5em;
		}

		.info {
			// padding: 0.5em;
			// display: flex;
			// flex-direction: column;
			.title {
				// flex: 1;
			}
	    .meta {
				display: none;
	    }
	  }

	}
}
