@import '../variables';

@mixin preview {
  > li {
    padding: 0.25rem 1rem;
    width: 100%;

    figure {
      width: 100%;
      height: auto;
    }

    .info {
      .title {
        margin-top: 0.5em;
      }
      .meta {
        margin-top: 0.5em;
      }
    }

  }
}
