@import '../variables';

body.info {

	background-color: #aaa;

	.keywords {
		display: block;
		li {
			display: block;
		}
		text-align: right;
	}

	header {
		.about {
			@include fontlarge;
			@include bold;
			margin-bottom: $space-top * 6;
		}
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3rem;
		padding: 0 2rem;
		.main {
			grid-column-end: span 3;
		}
		aside {
			grid-column-end: span 1;
		}
		header,
		section {
			margin: 0;
			padding: 0;
		}
	}

	section.team {
		display: grid;
		margin-top: 2rem;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		figure {
			display: flex;
			img {
				height: $space-side * 4;
				width: auto;
			}
			figcaption {
				@include fontsmall;
				flex: 1;
				flex-wrap: wrap;
				margin-left: 0.5em;
			}
		}
		.name {
			margin: 1rem 0 0.5rem;
			@include fontlarge;
		}
		.link {
			margin-top: $space-top;
		}
	}

	@media screen and (min-width: 600px) {
		section.team {
			figure {
				figcaption {
					position: relative;
					span {
						position: absolute;
						display: block;
						transform: rotate(-90deg);
						transform-origin: top left;
						margin-top: $space-side * 4;
						white-space: nowrap;
					}
				}
			}
		}
	}

	> footer {
		padding-top: $space-top * 6;

		h4 {
			@include bold;
		}
	}

}
