@import '../variables';
// @import '../components/gallery';

body.post {

	section.content {
		padding: $space;
		.info {
			display: flex;
			flex-direction: column;
			padding-right: $space-side;
			.title {
				@include fontlarge;
				flex: 1;
				margin-bottom: $space-top-l;
				h1 {
					@include bold;
				}
				h2 {
					@include regular;
				}
			}
		}
		.keywords {
			display: block;
			li {
				display: block;
			}
		}
		@media screen and (min-width: 600px) {
			display: flex;
			.info,
			.about {
				flex: 1 0 50%;
			}
		}
	}

	section.gallery {
		width: 100%;
		height: 100vh;
		.swiper-slide {
			height: 100vh;
			width: 100%;
		}
		figure {
			height: 100vh;
			display: flex;
			position: relative;
			.image {
				padding: 5rem 1rem;
				flex: 1 1 auto;
				justify-content: center;
				img {
					width: 100%;
					height: 100%;
					max-height: 100vh;
					max-width: 100vw;
					object-fit: contain;
					object-position: center;
				}
			}
			figcaption {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
				@include fontsmall;
				padding: 1rem;
			}
		}
		position: relative;
		.controls {
			position: absolute;
			z-index: 10;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				width: 50%;
				height: 100%;
			}
			.swiper-button-next {
				left: 50%;
			}
		}
	}

	section.images {
		padding: 0 1rem;
		figure {
			figcaption {
				@include fontsmall;
				padding: 0.5em 0;
			}
		}
		@media screen and (min-width: 600px) {
			display: grid;
			gap: 2px;
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	> footer {
		// border-top: $border;
		padding-top: $space-top;
	}

}
