@import '../variables';

header.channel-header {
  @include fontlarge;
  display: flex;
  div {
    flex: 1 1 50%;
    + div {
      flex: 1 1 50%;
      text-align: right;
      justify-content: flex-end;
      margin-top: 0;
    }
  }
}
