@import '../variables';

body,
body > header {
	background-color: #999;
}

section.team {
	@include borderBefore;
	figure {
		img {
			@include fontlarge;
			max-height: 6em;
			width: auto;
		}
		figcaption {
			margin-top: 0.5em;
			@include fontsmall;
		}
	}
	.name {
		margin: $space-top 0 0.5em;
		@include fontlarge;
	}
	.about {
		@include fontlarge;
	}
	.link {
		margin-top: $space-top;
	}
}

body > footer {
	@include borderBefore;
	@include fontlarge;
}
