@import '../variables';

body {
	background-color: #999;
}

section.team {
	@include borderBefore;
	figure {
		img {
			max-height: 8em;
			width: auto;
		}
		figcaption {
			margin-top: 0.5em;
			@include fontsmall;
		}
	}
	.name {
		margin: $space-top 0 0.5em;
		@include fontlarge;
	}
	.link {
		margin-top: $space-top;
	}
}

body > footer {
	border-top: $border;
	padding-top: $space-top;
}
