@import '../variables';
@import '../components/gallery';

main {

  margin: 0;

  header, section {
    margin: 1rem;
  }
  section.images {
    margin: 0;
  }

  .meta {
    > div {
      display: flex;
      padding: 0.5rem 0;
      border-top: 1px solid #000;
      > div {
        flex: 0 0 50%;
      }
    }
  }

}
