@import '../variables';
@import '../components/gallery';

main {

  .meta {
    > div {
      display: flex;
      padding: $space-top 0;
      border-top: $border;
      > div {
        flex: 0 0 50%;
      }
    }
  }

}
