@import '../variables';

main {

    section {
        padding: 0 3vw;
        margin: 2rem 0;
    }

    .channels {
        .channel {
            padding-bottom: 1rem;
            break-inside: avoid;
        }
        h2 {
            margin-bottom: 1rem;
        }
        @media (min-width: 800px){
            column-count: 2;
            column-gap: 2rem;
        }
        @media (min-width: 1200px){
            column-count: 3;
        }
        @media (min-width: 1600px){
            column-count: 4;
        }
    }

}
