@import '../variables';

body {
	background-color: #000;
	color: #fff;
}

header.site-header {

	#logo {
    svg polyline {
      stroke: #fff;
    }
  }

	.channels {
		a:hover,
		a.active {
			border-bottom: 1px solid #fff;
		}
	}

}

body.has-scrolled {
  header.site-header {
    &:hover {
      background: #333;
    }
  }
}

footer.site-footer {
	a:hover,
	a.active {
		border-bottom: 1px solid #fff;
	}
}
