header.site-header {

  position: sticky;
  top: 0;

  #logo {
    width: 33vw;
    height: auto;
  }

}

footer.site-footer {
  margin-top: 16rem;
  font-size: 0.8rem;

  a, ul {
    display: inline-block;
  }
  a + a {
    margin-left: 0.5em;
  }

}
