header.channel-header {

}

.content.posts,
.gallery {
  background-color: #eee;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  li {

    .info {
      margin: 0.5rem 0;
      .type {
        display: none;
      }
    }

  }

}
