header.channel-header {
  padding: $padding;

  h1 {
    margin-bottom: $padding;
  }
}

.content.posts {
  background-color: #eee;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  li {

    margin-bottom: 3rem;
    .info {
      margin: 0.5rem 0;
      .date {
        float: right;
        clear: both;
      }
      .type {
        display: none;
      }
    }

  }

}
