body.post {

  section.content {

    font-size: 1.2rem;

    p + p {
      text-indent: 3em;
    }

    padding: 1rem;

    > div {
      padding: 0.5em 0;
      + div {
        border-top: 1px solid #000;
      }
    }

  }

}

.gallery {

  figure {
    padding: 1rem;
    img {
      max-height: 70vh;
      max-width: 100%;
      width: auto;
      height: auto;
      margin: 0 auto;
    }
    figcaption {
      margin-top: 1rem;
    }
  }

  .controls {
    position: static;
    display: flex;
    padding: 0.5rem 1rem;

    .left {
      position: static;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right {
      position: static;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
      position: static;
      top: unset;
      bottom: unset;
      left: unset;
      right: unset;
    }
    .swiper-pagination {
      text-align: left;
    }
    .swiper-button-prev,
    .swiper-button-next {
      background-color: red;
      width: 0.7em;
      height: 0.7em;
      background: none;
      border-top: 1.5px solid #000;
      border-left: 1.5px solid #000;
      margin: 0.5em;
      display: inline-block;
    }
    .swiper-button-prev {
      transform: rotate(-45deg);
    }
    .swiper-button-next {
      transform: rotate(135deg);
    }

  }

}
