/*
* post content
*/
section.gallery {

  figure {
    margin-bottom: 0.2rem;

    figcaption {
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
  }
}

@media (min-width: 600px) {

  section.gallery {

    figure {
      position: relative;

      img {
        transition: opacity 200ms ease;
        opacity: 1;
      }

      figcaption {
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        padding: 1.5em;
        transition: opacity 200ms ease;
        opacity: 0;
      }
    }

    figure:hover {
      figcaption {
        opacity: 1;
      }
      img {
        opacity: 0.3;
      }
    }

    .item.expose {
      position: static;
      width: 100%;

      figcaption{
        position: static;
        opacity: 1;
      }
    }
    figure.expose:hover {
      img {
        opacity: 1;
      }
    }
  }
}

/*
* content
*/
ul.tags {
  &:before {
    content: 'Keywords';
    margin-right: 0.15em;
    display: inline-block;
  }
  li {
    display: inline-block;
    margin-right: 0.15em;
    text-transform: capitalize;
  }
}

ul.credits {
  li {
    a {
      display: inline-block;
      border-bottom: 1px solid #000;
    }
    display: inline-block;
    margin-right: 0.15em;
    text-transform: capitalize;
  }
}
