/*
* reset
*/

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, img {
  margin: 0;
  padding: 0;
}

div, section, nav, header, footer, main, figure, figcaption {
  display: block;
}

ol, ul, li {
  list-style: none;
}

hr, image, iframe, input, textarea {
  border: none;
  outline: none;
}

/*
* typography
*/
html, body, h1, h2, h3, h4, h5, h6, strong, b, blockquote, em, i, button, input, address {
  font-weight: normal;
  font-style: normal;
}

input, button, blockquote {
  font-family: inherit;
}


/*
* images
*/

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*
* links and buttons
*/

a {
  color: inherit;
}
a, button {
  cursor: pointer;
}

/*
* forms
*/

input, textarea {
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}
button {
  background-color: transparent;
}
