// colors
$background: #ddd;
$color: #000;
$yellow: #ff0;
$grey: #ccc;

// typography

$font-small: 0.7rem;
$font-size: 1.15rem;
$font-large: 2.7rem;

@mixin allcaps {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
@mixin fontsmall {
	font-size: $font-small;
	line-height: 1.2;
}
@mixin font {
	font-size: $font-size;
	line-height: 1.3;
}
@mixin fontlarge {
	font-size: $font-large;
	line-height: 1.05;
}
@mixin sans {
	font-family: "Graphik", Helvetica Neue, Helvetica, Arial, sans-serif;
}
@mixin hyphens {
	hyphens: auto;
	-webkit-hyphens: auto;
}

// borders
$border-style: solid;
$border-width: 2px;
$border: $border-width solid currentColor;
$border-thin: 1px solid currentColor;

$gap: 1rem;
$space-top: 1rem;
$space-side: 2rem;
$space: $space-top $space-side;

@mixin borderBefore {
	&:before {
		content: '';
		border-top: $border;
		display: block;
		margin: 0 $space-side;
	}
}

@mixin tabularFigures {
	font-variant-numeric: tabular-nums;
	-moz-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
}

@mixin inlineList {
	display: flex;
	flex-wrap: wrap;
	> li,
	> a {
		display: inline-block;
		margin: 0.25em 0.6em 0.25em 0;
    	flex: 0 0 auto;
	}
}

@mixin button {
	background-color: #fff;
	padding: 0.2em 0.5em 0.1em;
	border-radius: 1em;
	transition-property: color, background-color;
	transition-timing-function: ease;
	transition-duration: 150ms;
	&.active,
	&:hover {
		color: #fff;
		background-color: $color;
	}
}

@mixin keywordCount {
	font-size: .65em;
	display: inline-block;
	vertical-align: .4em;
	border-bottom: 1px solid currentColor;
	margin-left: .33em;
	margin-right: 0.1em;
}

@mixin linkArrow {
	text-decoration: none;
	border: none;
	&:after {
		content: '';
		border-top: $border;
		border-right: $border;
		width: 0.5em;
		height: 0.5em;
		display: inline-block;
		vertical-align: 0.33em;
	}
}

@mixin linkUnderline {
	border-bottom: $border-thin;
	/*
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	&:hover {
		animation-name: hover-bob-float, hover-bob;
		animation-duration: .3s, 1.5s;
		animation-delay: 0s, .3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
		animation-direction: normal, alternate;
	}
	*/
}

@mixin yellowBubble {
	border-bottom: $border-thin;
	position: relative;
	&:after {
		content: '';
		z-index: -1;
		position: absolute;
		background-color: #ff0;
		border: #ff0 solid 2px;
		border-radius: 4rem;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition-duration: 0.3s;
		transition-property: top, right, bottom, left;
		transition-timing-function: ease;
	}
	&:hover {
		border-color: transparent;
		&:after {
			opacity: 1;
			top: -4px;
			right: -8px;
			bottom: -4px;
			left: -8px;
		}
	}
}

@mixin fadein {
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes hover-bob {
	0% {
		transform: translateY(-4px);
	}
	50% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(-4px);
	}
}
@keyframes hover-bob-float {
	100% {
		transform: translateY(-4px);
	}
}
