// colors
$background: #eee;
$color: #000;
$yellow: #ff0;

// typography

$font-small: 0.75rem;
$font-size: 1rem;
$font-large: 2rem;

@mixin allcaps {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
@mixin fontsmall {
	font-size: $font-small;
	line-height: 1.2;
}
@mixin font {
	font-size: $font-size;
	line-height: 1.2;
}
@mixin fontlarge {
	font-size: $font-large;
	line-height: 1;
}
@mixin sans {
	font-family: Helvetica, Arial, sans-serif;
}
@mixin hyphens {
	hyphens: auto;
	-webkit-hyphens: auto;
}

// borders
$border-style: solid;
$border-width: 1px;
$border: $border-width solid currentColor;

$gap: 0.5rem;
$space-top: 1rem;
$space-side: 1rem;
$space: $space-top $space-side;

@mixin tabularFigures {
	font-variant-numeric: tabular-nums;
	-moz-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
}
