@charset "utf-8";

/*
* Herbert.gd
* © 2019
*/

// imports
@import 'reset';


/*
* typography
*/

/* font sizes */
html {
  font-size: 1.2em;
}

h1, h2 {
  font-size: 2rem;
}

h3, h4, h5 {
  font-size: 1rem;
}
h6, figcaption {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}
p {
  a {
    text-decoration: underline;
  }
}

/*
* default style
*/
body {
  font-family: 'Arial';
  background-color: #fff;
  color: #000;
  letter-spacing: 0.01em;
}

header, .header, section {
  margin: 1rem;
}

.links {
  li a {
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-bottom: 0.2em;
  }
}

/*
* header
*/

nav {
  a.active:before {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border-radius: 1em;
    background-color: #000;
  }
}


@import 'domains';

@import 'posts';

/*
* search
*/
.searchform {

  form {
    display: flex;
    border: 1px solid #000;
    padding: 0.5rem;
    border-radius: 10em;
  }

  input {
    font-size: 2rem;
    outline: none;
    border: none;
    display: block;
    padding: 0.5rem 1rem;
  }
  input[type="text"] {
  }
  input[type="submit"] {
    cursor: pointer;
    flex: 1;
    border: 1px solid #000;
    border-radius: 10em;
  }
  input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
  }

}
