@charset "utf-8";

/*
* Herbert.gd
* © 2019
*/

// imports
@import 'reset';


/*
* typography
*/

/* font sizes */
html {
  font-size: 1.2em;
}

h1, h2 {
  font-size: 2rem;
}

h3, h4, h5 {
  font-size: 1rem;
}
h6, figcaption {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}
p {
  a {
    text-decoration: underline;
  }
}

/*
* default style
*/
body {
  font-family: 'Arial';
  background-color: #fff;
  color: #000;
  letter-spacing: 0.01em;
}

header, .header, section {
  margin: 1rem;
}

.links {
  li a {
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-bottom: 0.2em;
  }
}

/*
* header
*/

nav {
  a.active:before {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border-radius: 1em;
    background-color: #000;
  }
}


/*
* domain
*/

ul.websites {
  margin-top: 1rem;
}

/*
* feed
*/
ul.feed {
  margin: 1rem;

  li {
    margin-bottom: 1rem;
    figure {
      margin-bottom: 0.5em;
    }
  }

}

@media (min-width: 600px) {

  ul.feed {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 25%;
      margin-bottom: 1rem;
      margin-right: 1rem;

      .published {
        display: none;
      }

    }
  }

}

@media (min-width: 1600px) {
  ul.feed {
    li {
      width: 15%;
    }
  }
}

/*
* post content
*/
section.gallery {

  figure {
    margin-bottom: 0.2rem;

    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
  }
}

@media (min-width: 600px) {

  section.gallery {

    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
      width: 25%;
      margin-bottom: 1rem;
      margin-right: 1rem;
      transition: width 300ms ease;
      position: relative;

      img {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition: opacity 200ms ease;
        opacity: 1;
      }

      figcaption {
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        padding: 1em;
        transition: opacity 200ms ease;
        opacity: 0;
      }
    }

    figure:hover {
      figcaption {
        opacity: 1;
      }
      img {
        opacity: 0.3;
      }
    }

    figure.expose {
      width: 100%;
      position: static;

      figcaption{
        position: static;
        opacity: 1;
      }
    }
    figure.expose:hover {
      img {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1600px) {
  section.gallery {
    figure {
      width: 15%;
    }
  }
}
