// https://sass-lang.com/documentation
// sass --watch --style=compressed assets/scss:assets/css

@import 'reset';

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/inter/Inter-Medium.woff2?v=3.13") format("woff2"),
		 url("../fonts/inter/Inter-Medium.woff?v=3.13") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 800;
	font-display: swap;
	src: url("../fonts/inter/Inter-ExtraBold.woff2?v=3.13") format("woff2"),
		 url("../fonts/inter/Inter-ExtraBold.woff?v=3.13") format("woff");
}
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("../fonts/inter/Inter-roman.var.woff2?v=3.13") format("woff2");
}

@import 'variables';

//
// typography
//
html {
	font-size: 1em;
	@include typeface;
}
body {
	background-color: $background;
	color: $color;
	@include font;
}
h1, h2, h3 {
	@include bold;
	// @include fontlarge;
}
p {
	@include hyphens;
	+ p {
		text-indent: 2em;
	}
	a {
		@include linkUnderline;
	}
}
::selection {
	background-color: #ff0;
}
figure {
	img {
		width: 100%;
		height: auto;
	}
	&.video {
		.player {
			position: relative;
			padding-top: 56.25%;
			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}
}
img {
	&.lazyload,
	&.lazyloading {
		opacity: 0;
		min-height: 10vw;
	}
	&.lazyloaded {
		opacity: 1;
		transition: opacity 500ms;
	}
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	> header {
		flex: 0 0 auto;
	}
	> main {
		flex: 1 0 auto;
	}
	> footer {
		flex: 0 0 auto;
	}
}
header {
	padding: 0 $space-side;
}
section {
	// margin: $space-top 0;
}
main {
	// padding-top: $space-top * 2;
	> header {
		@include fadein;
		margin-top: 0;
		.about {
			@include fontlarge;
			@include bold;
			margin-bottom: 1rem;
		}
	}
	section:first-child {
		// margin-top: $space-top;
	}
}


@import 'components/header';
@import 'components/footer';
@import 'components/flex';
@import 'components/keywords';

@import 'templates/channel';
@import 'templates/home';
@import 'templates/info';
@import 'templates/post';
