// https://sass-lang.com/documentation
// sass --watch --style=compressed assets/scss:assets/css

@import 'variables';

//
// fonts
//
/*
@font-face {
	font-family: "Fontname";
    src: url("../fonts/Fontname.woff2") format("woff2"),
         url("../fonts/Fontname.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*/

//
// typography
//
html {
  font-size: 1.1em;
}
body {
  font-family: $font;
  line-height: 1.15;
}
h1, h2 {
  font-size: $font-large;
  line-height: 1.1;
}
li {
  break-inside: avoid;
}
figure {
  img {
    @include boxShadow;
  }
  figcaption {
    font-size: $font-small;
  }
  &.video {
    .player {
      position: relative;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
  }
}


@import 'components/navigation';

header.channel-header {
  display: none;
}

main {

  margin-top: 8rem;

  header {
  }

  section {
  }

}

@import 'components/footer';


a.keyword {
  .count {
    font-size: 0.7em;
    display: inline-block;
    vertical-align: 0.33em;
    border-bottom: $border;
    margin-left: 0.2em;
  }
}

@import 'components/preview';
@import 'components/cards';
@import 'components/list';
.posts {

  .results-options {
    padding: 0.25rem 1rem;
    display: flex;
    .left {
      flex: 1 1 auto;
      li {
        margin-right: 0.25em;
      }
    }
    .right {
      flex: 1 1 auto;
      text-align: right;
      li {
        margin-left: 0.25em;
      }
    }
    label {
      display: none;
    }
    ul {
      li {
        display: inline-block;
      }
    }
  }

  ol.preview {
    @include preview;
  }
  ol.cards {
    @include cards;
  }
  ol.list {
    @include list;
  }
  li.hidden {
    display: none;
  }
  li > a {
    display: block;
  }
  .info {
    .title {
      .headline {
        font-size: $font-large;
      }
      .subline {
        font-size: $font-large;
      }
    }
    .meta {
      font-size: $font-large;
    }
  }
}


@import 'components/specialCharacters';
