// https://sass-lang.com/documentation
// sass --watch --style=compressed assets/scss:assets/css

@import 'variables';

//
// fonts
//
/*
@font-face {
	font-family: "Fontname";
    src: url("../fonts/Fontname.woff2") format("woff2"),
         url("../fonts/Fontname.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*/

//
// typography
//
html {
  font-size: 1.1em;
}
body {
  font-family: $font;
  line-height: 1.15;
}
h1, h2 {
  font-size: $font-large;
  line-height: 1.1;
}

li {
  break-inside: avoid;
}


header.site-header {

  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  display: flex;
  z-index: 100;
  background-color: #fff;
  color: #000;

  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;

  #logo {
    width: 25vw;
    height: auto;
    margin-top: 0.5rem;
    transform: translateY(0.2rem);
    transition-property: width, height;
    transition-duration: 300ms;
    transition-timing-function: ease;
    svg polyline {
      stroke-width: 2px;
    }
  }
  nav {
    flex: 1;
    text-align: right;
    margin-top: 0.5rem;
    .channels {
      li {
        display: inline-block;
        margin-left: 1em;
      }
      a:hover,
      a.active {
        border-bottom: $border;
      }
    }
  }

  &.js-is-stuck,
  &.js-is-sticky {
    border-bottom: $border;
    #logo {
      margin-top: 0;
      width: 11vw;
      height: auto;
      svg polyline {
        stroke-width: 3px;
      }
    }
  }

}

header.channel-header {
  display: none;
}

main {
  // margin: 1rem;
  margin-top: 4rem;

  header {
    margin: 2rem 0 4rem;
  }

  section {
    margin: 1rem 0;
  }

}

footer.site-footer {
  margin-top: 8rem;
  padding: 1rem;

  a, ul {
    display: inline-block;
  }
  a + a {
    margin-left: 0.5em;
  }
  a:hover,
  a.active {
    border-bottom: $border;
  }

}


a.keyword {
  .count {
    font-size: 0.7em;
    display: inline-block;
    vertical-align: 0.33em;
    border-bottom: $border;
    margin-left: 0.2em;
  }
}

@import 'components/cards';
@import 'components/list';
.posts {
  &.cards ol {
    @include list;
  }
  &.list ol {
    @include list;
  }
}


@import 'components/specialCharacters';
