@import '../variables';

@mixin carditem {
	grid-column-end: span 1;
	grid-row-end: span 1;

	border-bottom: 1px solid currentColor;
	border-right: 1px solid currentColor;
	padding: 1rem;

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		border-top: 1px solid currentColor;
	}
	&:nth-child(3n+1) {
		padding-left: 0;
	}
	&:nth-child(3n) {
		padding-right: 0;
		border-right: none;
	}

}

@mixin cards {
	display: grid;
	grid-template-columns: 32% 36% 32%;
	grid-auto-flow: row;

	padding: 0.25rem 1rem;

	> li {
		@include carditem;

		display: flex;
		> a {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		figure + .info {
			margin-top: 0.5em;
		}
		.info {
			flex: 1;
			display: flex;
			flex-direction: column;
			.title {
				flex: 1;
			}
	    .meta {
	      margin-top: 0.5em;
				font-size: $font-medium;
	    }
	  }

	}
}
