@import '../variables';

@mixin carditem {
	grid-column-end: span 1;
	grid-row-end: span 1;

	// border-bottom: 1px solid currentColor;
	border-right: $border;
	padding: 0 1rem;

	min-height: 8em;

	&.portrait {
		grid-row-end: span 2;
	}
	&.landscape {
		grid-column-end: span 1;
	}

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4), {
		a {
			border-top: none;
			padding-top: 0;
			margin-top: 0;
		}
	}
	&:nth-child(4n) {
		// border-right: none;
	}

}

@mixin cards {
	display: grid;
	grid-auto-flow: row;
	max-width: 100%;

	grid-template-columns: 1fr 1fr 1fr 1fr;

	> li {
		@include carditem;

		display: flex;
		> a {
			flex: 1;
			display: flex;
			flex-direction: column;
			border-top: $border;
			padding-top: 1rem;
			margin-top: 1rem;
		}

		figure {
			flex: 1;
			img {
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  			filter: grayscale(100%);
				transition: filter 300ms ease;
			}
		}
		> a:hover {
			figure img {
				-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  			filter: grayscale(0);
			}
		}

		figure + .info {
			margin-top: 1rem;
		}

		.info {
			// display: flex;
			// flex-direction: column;
			.title {
				flex: 1;
			}
	    .meta {
				display: none;
	    }
	  }

	}
}
