@mixin carditem {
	flex: 0 0 auto;
	width: 100%;
	@media (min-width: 576px) {
    width: 50%;
  }
	@media (min-width: 768px) {
    width: 33.32%;
  }
	@media (min-width: 1200px) {
    width: 25%;
  }
	@media (min-width: 1600px) {
    width: 25%;
  }

	padding: 2px;
	> a {
		display: block;
	}
}

@mixin cards {
  display: flex;
	flex-wrap: wrap;
	li {
		@include carditem;

    .info {
			margin-top: 2px;
			margin-bottom: 1em;
      .date {
        float: right;
        clear: both;
      }
      .type {
        display: none;
      }
    }

	}
}
