body > footer {

	margin: 0 $space-side;
	margin-top: $space-top;
	padding-bottom: $space-top;

	.credits {
		width: 100%;
		flex: 1;
		li + li {
			padding-top: 0.5em;
		}
		a {
			@include linkUnderline;
		}
	}

	.buw-logo-container {
		display: flex;
		// align-items: flex-end;
		// margin-top: $space-top-l;
	}

	// > div {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// }

	#sitemap-footer-link {
		opacity: 0;
		margin-left: 1rem;
	}

}

.buw-logo {
	font-size: 1.3rem;

	svg {
		height: 1em;
		width: 8.8em;
		transform: translateY(0.1em);
	}

}
