footer.site-footer {
  padding-top: $space-top;
  margin: $space;
  border-top: $border;

  // font-size: $font-small;

  a, ul {
    display: inline-block;
  }
  a + a {
    margin-left: 0.5em;
  }
  a {
    border-bottom: $border;
    border-color: transparent;
  }
  a:hover,
  a.active {
    border-color: currentColor;
  }

}
