@import '../variables';
@import 'cards';

@mixin galleryHoverItem {
  /*
  color: $gallery-color;
  transition: color 300ms ease;
  &:hover {
    color: $gallery-color;
  }
  */
}

@mixin fadein {
  -webkit-animation: fadein 1s;
   -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
     -o-animation: fadein 1s;
        animation: fadein 1s;
}

.gallery {

  // padding: 0 $padding / 4 * 3;

  figure {
    padding: 0 $space-side;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      margin-top: $space-top;
      .credits {
        opacity: 0.5;
      }
    }
  }

  &.index {
    margin-left: $space-side;
    margin-right: $space-side;
    .controls {
      display: none;
    }
    .swiper-wrapper {
      display: grid;
    	grid-auto-flow: row;
    	grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: $space;
      .swiper-slide {
        grid-column-end: span 1;
        grid-row-end: span 1;
      }
    }
    figure {
      padding: 0;
      cursor: zoom-in;
      figcaption {
        margin-top: 0.7em;
        padding: 0;
      }

      @include fadein;
      @include galleryHoverItem;

    }
  }

  &.swiper-container {

    .swiper-slide {
      @include fadein;
    }

    figure {
      display: flex;
      flex-direction: column;
      .image {
        height: 75vh;
        flex: 1;
        display: flex;
        align-items: flex-start;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top center;
        }
      }
    }
    .controls {
      position: static;
      display: flex;
      padding: $space;
      user-select: none;
      margin-top: $space-top;

      .left,
      .right {
        position: static;
        flex: 1;
        display: flex;
        align-items: center;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }

      .swiper-button-prev,
      .swiper-button-next,
      .swiper-pagination,
      .swiper-button-index {
        position: static;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        height: unset;
        width: unset;
        display: inline-block;
      }
      .swiper-pagination {
        text-align: left;
      }
      .swiper-button-prev,
      .swiper-button-next {
        background: none;
        margin: 0 0.5em;
        cursor: pointer;
        .arrow {
          border-top: $border;
          border-left: $border;
          width: 0.7em;
          height: 0.7em;
          display: inline-block;
          // transition: border-color 300ms ease;
        }
        &:hover .arrow {
          // border-color: $gallery-color;
        }

      }
      .swiper-button-prev {
        .arrow {
          transform: rotate(-45deg);
        }
      }
      .swiper-button-next {
        .arrow {
          transform: rotate(135deg);
        }
      }

      .swiper-button-index {
        cursor: pointer;
        margin-right: 0.5em;
        @include galleryHoverItem;
      }

    }
  }

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*
.gallery {
  display: flex;
  flex-wrap: wrap;
  figure {
    + figure {
      margin-top: 1rem;
    }


    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;

    .image-xx {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%;
        left: 50%;
        top: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 20%);
      }
    }
    &.portrait {
      flex-basis: 50%;
      width: 50%;
    }
    figcaption {
      margin-top: 0.5em;
      font-size: 0.7rem;
    }
  }
}
*/
