@mixin columns {
	margin: $space-top 0;
	padding: 0 $space-side;
	column-count: 2;
	column-gap: $space-top;
	.item {
		padding-bottom: $space-top;
		figure {
			margin-bottom: 0.4em;
		}
	}
}

@mixin sameHeight {
	margin: ($space-top / 2) 0;
	padding: 0 ($space-side * 0.75);
	display: flex;
	flex-wrap: wrap;
	.item {
		padding: $space-top ($space-side / 4);
		flex: 0 0 66.6%;
		figure {
			margin-bottom: 0.4em;
		}
		img {
			width: 100%;
			height: auto;
		}
		&.landscape {
			+ .item.landscape {
				flex-basis: 33.3%;
				+ .item.landscape {
					flex-basis: 66.6%;
				}
			}
		}
		&.portrait {
			flex-basis: 33.3%;
		}
		&.hide {
			figure {
				background-color: #000;
				img {
					opacity: 0;
				}
			}
		}
	}
}
