.posts .grid .item {
	break-inside: avoid;
	> a {
		display: block;
	}
	figure {
		margin-bottom: 0.5em;
		img {
			width: 100%;
			height: auto;
		}
	}
	.title {
		line-height: 1.1;
	}
	&.hide {
		figure {
			background-color: #000;
			img {
				opacity: 0;
			}
		}
	}
}

@mixin gridGallery {
	grid-template-columns: 1fr 1fr 1fr;
	.item {
		&:nth-child(4n-3),
		&:nth-child(4n-4) {
			grid-column-end: span 2;
		}
	}
}
@mixin grid {
	margin: $space-top 0;
	padding: 0 $space-side;
	display: grid;
	gap: ($space-top * 2) ($space-side / 2);
	// grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
	.item {
		grid-column-end: span 1;
	}
}

/*
@mixin itemLayoutOnRatio {
	flex: 0 0 66.6%;
	&.landscape {
		+ .item.landscape {
			flex-basis: 33.3%;
			+ .item.landscape {
				flex-basis: 66.6%;
			}
		}
	}
	&.portrait {
		flex-basis: 33.3%;
	}
}
@mixin itemLayoutOnPosition {
	flex: 0 0 33.3%;
	&:nth-child(4n-3),
	&:nth-child(4n-4) {
		flex-basis: 66.6%;
	}
}
@mixin columns {
	margin: $space-top 0;
	padding: 0 $space-side;
	column-count: 2;
	column-gap: $space-top;
}
@mixin flexGrid {
	margin: ($space-top / 2) 0;
	padding: 0 ($space-side * 0.75);
	display: flex;
	flex-wrap: wrap;
	.item {
		padding: $space-top ($space-side / 4);
		@include itemLayoutOnPosition;
	}
}
*/
