body > header {

	z-index: 100;
	background-color: inherit;
	-webkit-user-select: none;
	user-select: none;
	margin-bottom: 0;

	.container {
		margin-bottom: -$border-width;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		nav {
			flex: 1;
			order: 1;
		}
		#logo {
			order: 2;
		}
	}

	#logo {
		font-size: 2.6em;
		width: 3.68em;
		height: 1em;
		transform: translateX(0.1rem);
		// margin-top: 0.1em;
		margin-left: 2rem;
		svg polyline {
			stroke-width: 3px;
		}
	}

	nav {
		ol {
			@include inlineList;
			li {
				a {
					@include bubble;
				}
			}
		}
	}
}

@media screen and (min-width: 800px) {
	body > header {
		nav {
			position: fixed;
			left: $space-side;
			top: $space-top;
			transition-property: top, left;
			transition-duration: 300ms;
			transition-timing-function: ease;
		}
	}
	body.has-scrolled > header {
		nav {
			left: $space-side / 2;
		}
	}
}
