body > header {

	z-index: 1000;
	-webkit-user-select: none;
	user-select: none;

	background-color: transparent;

	padding: $space;
	transition-property: padding, background-color;
	transition-duration: 300ms;
	transition-timing-function: ease;;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	.container {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		nav {
			flex: 1;
			order: 1;
		}
		#logo {
			order: 2;
		}
	}

	#logo {
		// font-size: 2.6em;
		// width: 3.68em;
		// height: 1em;
		// transform: translateX(0.1rem);
		// margin-top: 0.1em;
		margin: 0.15em 0 0.15em 1em;
		margin-left: 2rem;
		@include bold;
		svg polyline {
			stroke-width: 3px;
		}
	}

	nav {
		ol {
			@include inlineList;
			li {
				a {
					@include bubble;
				}
			}
		}
	}
}

body.has-scrolled > header {
	padding: ( $space-top / 2 ) ( $space-side / 2 );
	&:hover {
		background-color: inherit;
	}
}
