body > header {

	z-index: 1000;
	-webkit-user-select: none;
	user-select: none;

	background-color: transparent;

	padding: ( $space-top / 2 ) ( $space-side / 2 );
	transition-property: padding, background-color;
	transition-duration: 300ms;
	transition-timing-function: ease;;

	position: sticky;
	top: 0;
	left: 0;
	width: 100%;

	.container {
		display: flex;
		// justify-content: flex-end;
		// flex-wrap: wrap;
		align-items: stretch;
		nav {
			flex: 1;
			order: 1;
		}
		#logo {
			order: 2;
			justify-self: flex-end;
		}
	}

	#logo {
		padding: 0.2rem ( $space-side / 2 );
		font-size: 3em;
		flex-direction: column;
		flex: 0 0 auto;
		@include bold;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			display: flex;
			align-items: center;
			justify-content: center;

		}
		svg {
			width: 3.68em;
			height: 1em;
			polyline {
				stroke-width: 3px;
			}
		}
	}

	nav {
		ol {
			padding: ( $space-top / 2 ) ( $space-side / 2 );
			@include inlineList;
			li {
				a {
					@include bubble;
				}
			}
		}
	}
}

body.has-scrolled > header {
	padding: 0;
	&:hover {
		background-color: inherit;
	}
	#logo {
		font-size: 1.7em;
		svg {
			transform: translateY(0.05rem);
		}
	}
}
