.result-options {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 8;
  background-color: $background;

  margin: 0 $space-side $space-top;
  padding-top: $space-top - 0.2rem;
  padding-bottom: $space-top - 0.2rem;
  border-bottom: $border;

  button {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
  }

}

.keywords {
  @include inlineList;
  li {
    @include button;
    .count {
      @include keywordCount;
    }
  }
}

.links {
  @include font;
  @include inlineList;
  a {
    &.external {
      @include linkArrow;
    }
  }
}
