@mixin list {
	> li {
    border-top: 1px solid #000;
    > a {
  		display: flex;
      > div {
        flex: 1 0 auto;
        padding: 0.5em 0;
        &.title {
          flex-basis: 50%;
        }
        &.right {
          text-align: right;
        }
      }
  	}
		.categories {
			li {
				display: inline;
			}
		}
	}
}

@mixin table {
	td {
		border-top: 1px solid #000;
		padding: 0.5em 0;
		vertical-align: top;
		width: auto;

		&.min {
	    width: 20%;
	    white-space: nowrap;
		}
		&.right {
			text-align: right;
		}
	}
}
