@import '../variables';

@mixin list {

	padding: 0.25rem 1rem;

	> li {

		border-top: 1px solid currentColor;

		> a {

			padding: 0.25rem 0;

		}

		figure {
			display: none;
		}

		.info {

			display: flex;

			.title {
				flex: 1 1 50%;
				font-size: 2rem;
				display: inline-block;
			}
			.meta {
				text-align: right;
				display: inline-block;
			}
		}
	}
}
