@mixin list {
	> li {
    border-top: 1px solid #000;
    > a {
  		display: flex;
      > div {
        flex: 1 0 auto;
        padding: 0.5em 0;
        &.title {
          flex-basis: 50%;
        }
        &.right {
          text-align: right;
        }
      }
  	}
		.categories {
			li {
				display: inline;
			}
		}
	}
}
