body > header {

	width: 100%;
	padding-top: $space-top - 0.2rem;
	padding-bottom: 0;
	padding-left: $space-side;
	padding-right: $space-side;
	z-index: 100;
	background-color: inherit;

	.container {
		padding-bottom: 4rem;
		margin-bottom: -$border-width;
		display: flex;
		nav {
			flex: 1;
			order: 1;
		}
		#logo {
			order: 2;
		}
	}

	#logo {
		font-size: 2.6em;
		width: 3.68em;
		height: 1em;
		transform: translateX(0.1rem);
		margin-top: 0.1em;
		margin-left: 2rem;
		svg polyline {
			stroke-width: 3px;
		}
	}

	nav {
		-webkit-user-select: none;
		user-select: none;
		.channels {
			@include inlineList;
		}
		a {
			@include button;
			.count {
				@include keywordCount;
			}
		}
	}
}
