header.site-header {

  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 1rem 0;
  z-index: 100;
  background-color: #eee;

  .container {
    display: flex;
    border-bottom: $border;
    #logo {
      order: 2;
    }
    nav {
      order: 1;
      flex: 1;
    }
  }

  transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: ease;

  #logo {
    width: 8rem;
    height: 3rem;
    transform: translateY(0.1rem);
    svg polyline {
      stroke-width: 3px;
    }
  }
  nav {
		font-size: $font-large;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
    .channels {
      li {
        display: inline-block;
        margin-right: 0.5em;
      }
      a {
      }
      a:hover,
      a.active {
      }
    }
  }
}

body.has-scrolled {
  header.site-header {
    nav {
    }
  }
}
