header.site-header {

  position: sticky;
  top: 0;
  width: 100%;
  padding: $space-top $space-side 0;
  z-index: 100;
  background-color: $background;

  @include fontlarge;

  .container {
    display: flex;
    border-bottom: $border;
    padding-bottom: $space-top;
    margin-bottom: -$border-width;
    #logo {
      order: 2;
    }
    nav {
      order: 1;
      flex: 1;
    }
  }

  #logo {
    width: 4.3em;
    height: 1em;
    transform: translateY(0.1rem);
    svg polyline {
      stroke-width: 3px;
    }
  }
  nav {
    .channels {
      li {
        display: inline;
      }
    }
    a {
      span {
        display: none;
      }
      abbr {
        display: inline;
      }
      .count {
        @include keywordCount;
        font-size: .6em;
        vertical-align: .45em;
        padding-bottom: 0.2em;
      }
      @media only screen and (min-width: 800px) {
        span {
          display: inline;
        }
        abbr {
          display: none;
        }
      }
      margin-right: 0.2em;
      transition: padding 300ms ease, margin 300ms ease;
      padding: 0.1em 0;
      &.active,
      &:hover {
        margin-right: 0;
        padding: 0.1em 0.5em;
        background: #fff;
        border-radius: 1em;
      }
      &.active {
        span {
          display: inline !important;
        }
        abbr {
          display: none !important;
        }
      }
    }
  }
}
