@import '../variables';

@mixin preview {
  > li {
    padding: 1rem;
    width: 100%;

    figure {
      width: 100%;
      height: auto;

      &.portrait {
      }

      &.video {
        iframe {
          width: 100%;
          height: 56.25vw;
        }
      }
    }

    .info {
      z-index: 10;
    }

  }
}
