i.special {
  i {
    display: none;
  }
  &:before {
    content: "";
    display: inline-block;
    background-color: currentColor;
  }

  &.slash {
    &:before {
      width: 0.03em;
      max-width: 1px;
      height: .8em;
      transform: rotate(24deg);
      vertical-align: -0.02em;
      margin-left: 0.2em;
      margin-right: 0.15em;
    }
  }
  &.pipe {
    &:before {
      width: 1px;
      height: 0.76em;
      margin-left: 0.25em;
      margin-right: 0.2em;
    }
  }
  &.minus,
  &.dash,
  &.lodash {
    &:before {
      width: 0.7em;
      height: 1px;
      margin-left: 0.5px;
    }
  }
  &.minus,
  &.dash {
    &:before {
      vertical-align: 0.3em;
    }
  }
  &.minus {
    &:before {
      width: 0.4em;
    }
  }

}
