@charset "UTF-8";
/*
* Herbert.gd
* © 2019
*/
/*
* reset
*/
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, img {
  margin: 0;
  padding: 0;
}

div, section, nav, header, footer, main, figure, figcaption {
  display: block;
}

ol, ul, li {
  list-style: none;
}

hr, image, iframe, input, textarea {
  border: none;
  outline: none;
}

/*
* typography
*/
html, body, h1, h2, h3, h4, h5, h6, strong, b, blockquote, em, i, button, input, address {
  font-weight: normal;
  font-style: normal;
}

input, button, blockquote {
  font-family: inherit;
}

/*
* images
*/
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*
* links and buttons
*/
a {
  color: inherit;
}

a, button {
  cursor: pointer;
}

/*
* forms
*/
input, textarea {
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

button {
  background-color: transparent;
}

/*
* typography
*/
/* font sizes */
h1 {
  font-size: 4rem;
}

h2, .large {
  font-size: 2rem;
}

html, body, h3, h4, h5 {
  font-size: 1rem;
}

h6, .small, figcaption, h6 + p, h6 + p + p {
  font-size: 0.7rem;
}

input, textarea {
  font-size: inherit;
}

/* font wheight */
h1, h2, h3, strong, .bold, h6 {
  font-weight: bold;
}

html, h4, h5 {
  font-weight: normal;
}

/* margins */
h1, h2 {
  padding: 0.5rem 0;
}

/*
* default style
*/
:root {
  --background-color: #fff;
  --color: #000;
  --border-color: #000;
  --font-family: "Helvetica";
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
}

/**
* header
*/
body > header h1 {
  margin-bottom: 8rem;
}

/**
* navigation
*/
header h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

nav.domains ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav.domains li {
  flex: 1;
  display: inline-block;
  border-bottom: var(--border);
}

nav.domains li + li {
  margin-left: 0;
  border-left: var(--border);
}

nav.domains li > a {
  padding: 1rem 1rem 3rem 1rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: padding 200ms ease, color 200ms ease, background-color 200ms ease;
}

nav.domains li > a:hover,
nav.domains li > a.active {
  padding: 3rem 1rem 1rem 1rem;
  color: var(--background-color);
  background-color: var(--color);
}

/*
* layout
*/
body {
  padding: 0 0 8rem;
}

section {
  padding: 1rem;
}

/**
* feed
*/
.feed {
  list-style: none;
}

.feed li {
  border-top: var(--border);
}

.feed li > a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

.feed li img {
  display: block;
  width: 100px;
  height: auto;
}

/* list */
.feed.list li > a {
  display: flex;
}

.feed.list li > a > * {
  flex: 1;
}

.feed.list li > a > .subtitle {
  flex: 2;
}

.feed.list li img {
  display: none;
}

/* grid */
.feed.grid {
  column-count: 4;
  column-gap: 0;
  column-width: 25%;
  column-rule: var(--border);
  border-bottom: var(--border);
}

.feed.grid li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.feed.grid li img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

/**
* article
*/
article {
  border-top: var(--border);
}

article section + section {
  margin-top: 1rem;
}

article section.meta > * {
  margin-bottom: 1rem;
}

.gallery img {
  width: 50vw;
  height: auto;
}
