@charset "UTF-8";
/*
* Herbert.gd
* © 2019
*/
/*
* reset
*/
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, img {
  margin: 0;
  padding: 0;
}

div, section, nav, header, footer, main, figure, figcaption {
  display: block;
}

ol, ul, li {
  list-style: none;
}

hr, image, iframe, input, textarea {
  border: none;
  outline: none;
}

/*
* typography
*/
html, body, h1, h2, h3, h4, h5, h6, strong, b, blockquote, em, i, button, input, address {
  font-weight: normal;
  font-style: normal;
}

input, button, blockquote {
  font-family: inherit;
}

/*
* images
*/
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*
* links and buttons
*/
a {
  color: inherit;
}

a, button {
  cursor: pointer;
}

/*
* forms
*/
input, textarea {
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

button {
  background-color: transparent;
}

/*
* typography
*/
/* font sizes */
html {
  font-size: 1.2em;
}

h1, h2 {
  font-size: 2rem;
}

h3, h4, h5 {
  font-size: 1rem;
}

h6, figcaption {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

/*
* default style
*/
body {
  font-family: "Arial";
  background-color: #fff;
  color: #000;
  letter-spacing: 0.01em;
}

header, .header, section {
  margin: 1rem;
}

.links li a {
  display: inline-block;
  border-bottom: 1px solid #000;
  margin-bottom: 0.2em;
}

/*
* header
*/
nav a.active:before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 1em;
  background-color: #000;
}

/*
* domain
*/
ul.websites {
  margin-top: 1rem;
}

/*
* feed
*/
ul.feed {
  margin: 1rem;
}
ul.feed li {
  margin-bottom: 1rem;
}
ul.feed li figure {
  margin-bottom: 0.5em;
}
ul.feed li figure img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  ul.feed {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul.feed li {
    width: 25%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  ul.feed li .published {
    display: none;
  }
}
@media (min-width: 1600px) {
  ul.feed li {
    width: 15%;
  }
}
/*
* post content
*/
section.gallery figure {
  margin-bottom: 0.2rem;
}
section.gallery figure img {
  width: 100%;
  height: auto;
}
section.gallery figure figcaption {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  section.gallery {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section.gallery figure {
    width: 25%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    transition: width 300ms ease;
    position: relative;
  }
  section.gallery figure img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: opacity 200ms ease;
    opacity: 1;
  }
  section.gallery figure figcaption {
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    padding: 1em;
    transition: opacity 200ms ease;
    opacity: 0;
  }
  section.gallery figure:hover figcaption {
    opacity: 1;
  }
  section.gallery figure:hover img {
    opacity: 0.3;
  }
  section.gallery figure.expose {
    width: 100%;
    position: static;
  }
  section.gallery figure.expose figcaption {
    position: static;
    opacity: 1;
  }
  section.gallery figure.expose:hover img {
    opacity: 1;
  }
}
@media (min-width: 1600px) {
  section.gallery figure {
    width: 15%;
  }
}
/*
* content
*/
ul.tags:before {
  content: "Keywords:";
  margin-right: 0.15em;
  display: inline-block;
}
ul.tags li {
  display: inline-block;
  margin-right: 0.15em;
}

ul.credits li {
  display: inline-block;
  margin-right: 0.15em;
}
ul.credits li a {
  display: inline-block;
  border-bottom: 1px solid #000;
}

/*
* search
*/
.searchform form {
  display: flex;
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 10em;
}
.searchform input {
  font-size: 2rem;
  outline: none;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
}
.searchform input[type=submit] {
  cursor: pointer;
  flex: 1;
  border: 1px solid #000;
  border-radius: 10em;
}
.searchform input[type=submit]:hover {
  background-color: #000;
  color: #fff;
}
